html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 5vh 0;
  background-image: url(./components/bg.png);
  background-size: contain;
}

.App {
  margin: auto;
  width: 90vh;
  height: 90vh;
  display: grid;
  grid-template:
    "title      title" 10%
    "searchBar  nothing" 10%
    "leftBox    rightBox" auto
    "leftButton rightButton" 10% /
    55% 35%;
  gap: 5% 10%;
}

.title {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar {
  grid-area: searchBar;
}

.leftBox {
  grid-area: leftBox;
}

.rightBox {
  grid-area: rightBox;
  overflow: hidden;
}

.leftButton {
  grid-area: leftButton;
}

.rightButton {
  grid-area: rightButton;
}


/* FONTS STYLING*/
p,
h3 {
  color: #3b4c58;
  font-weight: 500;
}

h1 {
  color: #3b4c58;
  font-weight: 400;
  height: 6vh;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 12px;
  margin: 0;
}
